<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.steelkiwi.videotrimming">
    <application
        android:name="${applicationName}"
        android:label="videotrimming">
        <activity
            android:name=".VideoTrimmerActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- <data android:mimeType="*/*" /> -->
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
